angr==9.3.1.post1
angr-data==0.1.0.post1
archinfo==9.3.1
arpy==1.1.1
bitarray==3.9.2
bitstring==4.4.0
cachetools==7.1.6
capstone==5.0.6
cart==1.2.3
cffi==2.1.0
claripy==9.3.1
cle==9.3.1
cxxheaderparser==1.9.2
future==1.0.0
gitdb==4.0.12
GitPython==3.1.57
hmmlearn==0.3.3
joblib==1.5.3
lmdb==2.1.1
markdown-it-py==4.2.0
mdurl==0.1.2
minidump==0.0.24
mpmath==1.3.0
msgspec==0.21.1
mulpyplexer==0.9
narwhals==2.24.0
networkx==3.6.1
numpy==2.5.1
pandas==3.0.5
pefile==2024.8.26
platformdirs==4.11.0
protobuf==7.35.1
psutil==7.2.2
pycparser==3.0
pycryptodome==3.23.0
pydemumble==0.1.3
pyelftools==0.33
Pygments==2.20.0
pypcode==4.0.0
python-dateutil==2.9.0.post0
pyvex==9.3.1
pyxbe==1.0.4
pyxdia==0.1.1
rich==15.0.0
scikit-learn==1.9.0
scipy==1.18.0
six==1.17.0
smmap==5.0.3
sortedcontainers==2.4.0
sympy==1.14.0
threadpoolctl==3.6.0
tibs==0.5.7
typing_extensions==4.16.0
uefi_firmware==1.16
z3-solver==4.13.0.0
